<!-- <mat-grid-list [cols]="cols" rowHeight="100vh"> -->
<div class="component_container">
    <div class="left_container">
        <!-- <mat-grid-tile [colspan]="left_cols" rowspan="1" class="desktop"> -->

        <app-activity-list></app-activity-list>


        <!-- </mat-grid-tile> -->
    </div>
    <!-- <mat-grid-tile colspan="4" rowspan="1" class="phone"> -->
    <div class="right_container">
        <app-activity-detail></app-activity-detail>
    </div>
</div>


<!-- </mat-grid-tile> -->
<!-- </mat-grid-list> -->