@media screen and (max-width: 787px) {
    .left_container {
        min-width: 100vw;
        width: 100vw;
    }
}

.left_container {
    display: block;
    /* padding: 0 5px; */
}

.hidden {
    display: none;
}