<div class="container">

    <h1 class="page_title">Drop-in Activities</h1>
    <app-search-bar [placeHolder]="'Search Activities'" [searchFor]="'activity'"
        style="height: 40px;display: block;"></app-search-bar>
    <h2 class="page_title">Browse Categories</h2>
    <mat-grid-list [cols]="cols" rowHeight="16:9" gutterSize="5px">
        <!-- <mat-grid-tile [colspan]="cols">Browse Categories</mat-grid-tile> -->
        @for (item of categories; track item.id) {
        <mat-grid-tile colspan="1">
            <app-grid-item [title]="item.title" [id]="item.id" [url]="getUrl(item.id)"
                style="width: 100%; z-index: 1; height: 100%;"></app-grid-item>
        </mat-grid-tile>
        }
    </mat-grid-list>

    <h2 class="page_title">Popular Activities</h2>
    <mat-grid-list [cols]="cols" rowHeight="16:9" gutterSize="5px">
        @for (type of popularTypes; track type.id) {
        <mat-grid-tile colspan="1">
            <app-grid-item [id]="type.id" [title]="type.title" [url]="getPopUrl(type)"
                style="width: 100%; z-index: 1; height: 100%;"></app-grid-item>
        </mat-grid-tile>
        }
    </mat-grid-list>
</div>