/* You can add global styles to this file, and also import other style files */
@import './custom-theme.scss';

:root {
    --secodary-text-color: rgba(0, 0, 0, 0.54);
    --primary-color: #2350cc;
    --primary-color-contrast: #c0dbf3;
    --primary-color-background: #E3F2FD;
    --accent-color: #616161;
    --accent-color-contrast: #EEEEEE;
    --warn-color: #D50000;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

app-root {
    height: 100vh;
}

@media screen and (max-width: 787px) {
    app-footer {
        display: none;
    }

    .inifinite_scroll {
        min-width: 100vw;
        scrollbar-width: none !important;
    }

    .left_container {
        display: none;
        width: 0;
    }

    .right_container {
        display: block;
        width: 100vw;
        position: relative;
    }

    .main_container {
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 60px;
        height: fit-content;
    }

    .map-container {
        height: 300px !important;
    }

    .page_title {
        margin: 0;
        padding: 3px 0;
        overflow-x: auto;
        position: relative;

    }

    .search-input-container input {
        color: black;
    }

    .sorting_buttons .mdc-button__label {
        font-size: small;
    }

    .mat-mdc-menu-content,
    .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
        font-size: smaller !important;
    }

    .mat-mdc-menu-item {
        min-height: 0 !important;
    }


}

@media screen and (min-width: 787px) {
    .mat-toolbar {
        top: 0;
    }

    .main_container {
        /* margin-top: 70px; */
        margin: 0 auto;
        min-height: 100vh;
        padding-top: 80px !important;
    }

    .component_container {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
    }

    .nav_button {
        width: fit-content;
        margin: 5px 10px;
        border-radius: 15px;
        color: var(--accent-color) !important;
    }

    .left_container {
        min-width: 500px;
        margin: 0 auto;
        position: relative;
        padding-right: 50px;
        top: 0;
        border-right: 1px var(--accent-color-contrast) solid;
    }

    .page_title {
        padding: 10px 0;
        width: 100%;
    }


}

@media screen and (max-width: 1400px) and (min-width: 787px) {
    .right_container {
        width: calc(100vw);
        margin: 0 auto 0 50px;
    }

}

@media screen and (min-width: 1400px) {
    .right_container {
        width: 1000px;
        min-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
        position: sticky;
        top: 0;
    }
}

.main_container {
    max-width: 1800px;
    position: relative;
    /* display: flex; */
    /* min-height: calc(100% - 80px); */
    overflow: auto;
    scrollbar-width: none;
}

.right_container {
    display: block;
}

.mat-grid-tile {
    margin-top: 0;
    padding-top: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.fit-content {
    width: fit-content;
}

/* .page_title {
    padding: 10px 0;
    width: 100%;
} */

app-root {
    display: block;
    /* min-height: 100vh; */
    width: 100vw;
}

app-footer {
    margin-top: auto;
    position: relative;
}

.mdc-button__label {
    z-index: 0 !important;
    letter-spacing: normal;

}

.container {
    position: sticky;
    padding: 0 15px;
    top: 0;
    background-color: white;
}